[submodule "frontend"]
	path = frontend
	url = https://github.com/jucamo0713/tech-test-meli-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/jucamo0713/tech-test-meli-backend.git
